<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>home</title>
</head>
<body>
    <div>
        <!-- navbar -->
       {{>navbar}}
        <!-- registration form -->
       
        <!-- footer    -->
        
    </div>
    
</body>
</html>